.image {
    flex: 1 0 10%;
    margin: 20px;
    height: 300px;
    width: 300px;
  }

img {
  width: 300px;
  height: 300px;
  border-radius: 8px;
}

  .gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 0 200px;
  }